# Laboratorio 3

En este laboratorio nuevamente utilizaremos los datos de COVID-19 disponibilizados por el Ministerio de Ciencias, Tecnología, Conocimiento e Innovación de Chile ([info](https://github.com/MinCiencia/Datos-COVID19/tree/master/output/producto1)).

In [1]:
import pandas as pd

covid = pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto1/Covid-19_std.csv")
covid.head()

,Region,Codigo region,Comuna,Codigo comuna,Poblacion,Fecha,Casos confirmados
0,Arica y Parinacota,15,Arica,15101.0,247552.0,2020-03-30,6.0
1,Arica y Parinacota,15,Camarones,15102.0,1233.0,2020-03-30,0.0
2,Arica y Parinacota,15,General Lagos,15202.0,810.0,2020-03-30,0.0
3,Arica y Parinacota,15,Putre,15201.0,2515.0,2020-03-30,0.0
4,Arica y Parinacota,15,Desconocido Arica y Parinacota,NaN,NaN,2020-03-30,NaN

## Ejercicio 1

(1 pto)

¿Cuál es la región que tiene menos registros (filas)?

In [1]:
# FIX ME #

__Respuesta:__ La región de Arica y Parinacota

## Ejercicio 2

(2 puntos)

1. Define la serie `casos` tal que:
    * Solo sean los registros de la región Valparaíso.
    * Los _index_ deben ser la _Fecha_ pero en formato `datetime`. Hint: `pd.to_datetime()`
    * Los _values_ deben ser los _Casos confirmados_.
2. Define la serie `casos_not_null` filtrando los calores `NaN` de la serie `casos`.
3. Obtén el mínimo, máximo y suma y promedio de la serie `casos_not_null`.

In [3]:
covid_valpo = # FIX ME #
indices = # FIX ME #
values = # FIX ME #
casos = pd.Series(# FIX ME #)
casos.head()

Fecha
2020-03-30    7.0
2020-03-30    0.0
2020-03-30    6.0
2020-03-30    0.0
2020-03-30    0.0
dtype: float64

In [4]:
casos_not_null = # FIX ME #

In [5]:
casos_min = # FIX ME #
casos_max = # FIX ME #
casos_sum = # FIX ME #
casos_mean = # FIX ME #

In [6]:
print(f"Mínimo casos: {casos_min}")
print(f"Máximo casos: {casos_max}")
print(f"Suma de casos: {casos_sum}")
print(f"Promedio de casos: {casos_mean}")

Mínimo casos: 0.0
Máximo casos: 7020.0
Suma de casos: 790461.0
Promedio de casos: 373.2110481586402

## Ejercicio 3

* Define el dataframe  `covid_full` uniendo (`merge`) los dataframes `covid_total` y `covid_death` utilizando la _Fecha_ como _key_ y de tal forma de unir solo los registros que se encuentren en ambos conjuntos de datos. Hint: Escoger sabiamente entre _left_, _right_, _inner_ u _outer join_.
* Filtra el dataframe `covid_full` tal que:
    - Fechas con por lo menos 1000 casos totales.
    - Fechas con por lo menos 100 casos nuevos con síntomas.
    - Fechas con más de 20 muertes en el grupo etárea `70-79`.

¿Cuál es la fecha máxima y mínima? ¿Cuántos registros quedan finalmente?

In [7]:
covid_total = pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto5/TotalesNacionales_T.csv", usecols=range(3))
covid_total.head()

        Fecha  Casos nuevos con sintomas  Casos totales
0  2020-03-02                        1.0            1.0
1  2020-03-03                        0.0            1.0
2  2020-03-04                        2.0            3.0
3  2020-03-05                        1.0            4.0
4  2020-03-06                        1.0            5.0

In [8]:
covid_death = pd.read_csv("https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto10/FallecidosEtario_T.csv").rename(columns={"Grupo de edad": "Fecha"})
covid_death.head()

        Fecha  <=39  40-49  50-59  60-69  70-79  80-89  >=90
0  2020-04-09     2      1      1      9     21     19     4
1  2020-04-10     2      2      2     10     22     21     6
2  2020-04-11     3      2      2     12     24     24     6
3  2020-04-12     3      2      3     12     28     25     7
4  2020-04-13     3      2      3     12     29     26     7

In [9]:
covid_full = #
# FIX ME #
#
covid_full.head()

,Fecha,Casos nuevos con sintomas,Casos totales,<=39,40-49,50-59,60-69,70-79,80-89,>=90
0,2020-04-09,426.0,5972.0,2,1,1,9,21,19,4
1,2020-04-10,529.0,6501.0,2,2,2,10,22,21,6
2,2020-04-11,426.0,6927.0,3,2,2,12,24,24,6
3,2020-04-12,286.0,7213.0,3,2,3,12,28,25,7
4,2020-04-13,312.0,7525.0,3,2,3,12,29,26,7

In [10]:
mask1 = # FIX ME #
mask2 = # FIX ME #
mask3 = # FIX ME #
covid_full_filtered = # FIX ME #
covid_full_filtered

,Fecha,Casos nuevos con sintomas,Casos totales,<=39,40-49,50-59,60-69,70-79,80-89,>=90
0,2020-04-09,426.0,5972.0,2,1,1,9,21,19,4
1,2020-04-10,529.0,6501.0,2,2,2,10,22,21,6
2,2020-04-11,426.0,6927.0,3,2,2,12,24,24,6
3,2020-04-12,286.0,7213.0,3,2,3,12,28,25,7
4,2020-04-13,312.0,7525.0,3,2,3,12,29,26,7
...,...,...,...,...,...,...,...,...,...,...
171,2020-09-27,1233.0,457901.0,281,429,1281,2672,3592,3220,1166
172,2020-09-28,1112.0,459671.0,281,430,1283,2687,3606,3241,1170
173,2020-09-29,1036.0,461300.0,281,431,1286,2695,3609,3248,1175
174,2020-09-30,1185.0,462991.0,281,432,1287,2699,3613,3250,1179
175,2020-10-01,1198.0,464750.0,284,435,1296,2710,3645,3264,1188

In [11]:
print(f"Fecha mínima: {# FIX ME #}")
print(f"Fecha máxima: {# FIX ME #}")
print(f"Cantidad de registros finalmente: {# FIX ME #}")

Fecha mínima: 2020-04-09 00:00:00
Fecha máxima: 2020-10-01 00:00:00
Cantidad de registros finalmente: 176